{% extends 'admin_header.html' %}
{% load static %}
{% block content %}

<div class="report-container">
    <div class="report-header">
    <h1 class="recent-Articles">CITY</h1>
    <button class="view">View All</button>
    <a href="/insert_city/"><button class="view">Insert</button></a>
</div>

<div class="report-body">
    <table class="report-table"  width="1120px">
        <thead>
            <tr>
                <th>City ID</th>
                <th>City Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for c in city %}
            <tr>
                <td>{{ c.city_id }}</td>
                <td>{{ c.city_name }}</td>
                <td>
                    <a href="/delete_city/{{ c.city_id }}"><i class="fa-solid fa-trash fa-lg"></i></a> /
                    <a href="/update_city/{{ c.city_id }}"><i class="fa-solid fa-arrows-rotate fa-lg"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


</div>


{% endblock %}