{% extends 'admin_header.html' %}
{% load static %}
{% block content %}

<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">COMPANY</h1>
        <button class="view">View All</button>
        <a href="/insert_company/"><button class="view">Insert</button></a>
    </div>

    <div class="report-body">
        <table class="report-table">
    <thead>
        <tr>
            <th>Company ID</th>
            <th>Company Name</th>
            <th>Company Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for c in company %}
        <tr>
            <td>{{c.company_id}}</td>
            <td>{{c.company_name}}</td>
            <td>{{c.company_description}}</td>
            <td>
                <a href="/delete_company/{{c.company_id}}"><i class="fa-solid fa-trash fa-lg"></i></a> /
                <a href="/update_company/{{c.company_id}}"><i class="fa-solid fa-arrows-rotate fa-lg"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    </div>
</div>

{% endblock %}