{% extends 'admin_header.html' %}
{% load static %}
{% block content %}

<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">GAME</h1>
        <button class="view">View All</button>
        <a href="/insert_game/"><button class="view">Insert</button></a>
    </div>

    <div class="items">

    <div class="report-body">
        <table class="report-table"  width="1120px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Version</th>
                <th>Image</th>
                <th>Price</th>
                <th>Launch_date</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Availability</th>
                <th>Type name</th>
                <th>Company name</th>
                <th>Action</th>
            </tr>
        </thead>
            <tbody>
            {% for g in game %}

            <tr>
                <td>{{g.game_id}}</td>
                <td>{{g.game_name}}</td>
                <td>{{g.game_version}}</td>
                <td>{{g.game_image}}</td>
                <td>{{g.game_price}}</td>
                <td>{{g.game_launch_date}}</td>
                <td>{{g.game_quantity}}</td>
                <td>{{g.game_description}}</td>
                <td>
                    {% if g.is_available == 1 %}
                    <b><span style="color:green;">YES</span></b>
                    {% else %}
                    <b><span style="color:red;">NO</span></b>
                    {% endif %}
                </td>
                <td>{{g.company_id.company_name}}</td>
                <td>{{g.type_id.type_name}}</td>
                <td>
                    <a href="/delete_game/{{g.game_id}}"><i class="fa-solid fa-trash fa-lg"></i></a> /
                    <a href="/update_game/{{g.game_id}}"><i class="fa-solid fa-arrows-rotate fa-lg"></i></a>
                </td>
            </tr>
            {% endfor %}
            </tbody>

        </div>
    </div>
</div>

{% endblock %}