<!-- GamifyUser.html -->
{% extends 'admin_header.html' %}
{% load static %}
{% block content %}

<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">USER</h1>
        <button class="view">View All</button>
    </div>

    <div class="report-body">
        <table class="report-table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>D.O.B</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Password</th>
            <th>is_admin</th>
            <th>City</th>
            <th>OTP</th>
            <th>OTP Used</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for u in user %}
            <tr>
                <td>{{u.user_id}}</td>
                <td>{{u.user_first_name}}</td>
                <td>{{u.user_last_name}}</td>
                <td>{{u.user_date_of_birth}}</td>
                <td>{{u.user_contact}}</td>
                <td>{{u.user_email}}</td>
                <td>{{u.user_password}}</td>
                <td>{{u.is_admin}}</td>
                <td>{{u.city_id.city_name}}</td>
                <td>{{u.user_otp}}</td>
                <td>{{u.user_otp_used}}</td>
                <td>
                    <a href="/delete_user/{{u.user_id}}"><i class="fa-solid fa-trash fa-lg"></i></a> /
                    <a href="/update_user/{{u.user_id}}"><i class="fa-solid fa-arrows-rotate fa-lg"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

        </div>
    </div>
</div>

{% endblock %}